apiVersion: apps/v1
kind: Deployment
metadata:
  name: yt-comment-deployment
spec:
  template:
    spec:
      containers:
      - name: app
        image: {{ image_name }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000